
<!DOCTYPE html>

<html ng-app="app22">

<head>

    <title>Peliculas</title>
    <meta charset="utf-8">
    <script type="text/javascript" src="~/Scripts/angular.min.js"></script>
    <script type="text/javascript" src="/app.js"></script>

</head>



<body>


    <div ng-controller="Controlador1">

        <div>
            <h1>Buscar una pelicula</h1>
            <h3>Escriba sobre la pelicula</h3>
            <input type="text" ng-model="detalles" placeholder="Busqueda" required class="form-control">
            <input type="submit" ng-click="BuscarPeli()" value="Buscar">
            <h2>{{mensaje}}</h2>
        </div>

    </div>

</body>
</html>